body {
  background: #212125;
  color: #FBFBFB;
  font-size: 1.5em;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.app-container {
  width: 30em;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 1em;
}

.app-container * {
  font-family: 'Varela Round', sans-serif;
}

.app-container a {
  color: #3366FF;
}

.app-container code {
  font-family: monospace;
}

.app-container .spacer {
  width: 50%;
  margin: 4em auto;
  border-bottom: 2px solid #989898;
}

.header h1 {
  font-size: 2.5em;
  font-family: 'Monsieur La Doulaise', cursive;
  padding: 0;
  margin: 0;
}

.header h2 {
  font-size: 1em;
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
  opacity: 0.75;
}

.status-indicator {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  width: .85em;
  height: .85em;
  border-radius: 1em;
  background-color: #565656;
  opacity: 0.75;
}

.disconnected .status-indicator {
  background-color: #FF3366;
}

.connected .status-indicator {
  background-color: #66FF33;
}

#color-output-canvas {
  width: 100%;
  min-height: 13em;
  margin-bottom: 1em;
}

#color-output-canvas .output-light {
  height: 1.5em;
  width: 1.5em;
  float: left;
  border: .25em solid #212125;
  -webkit-border-radius: 55%;
  -moz-border-radius: 55%;
  border-radius: 55%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.color-output-input {
  text-align: center;
}

.color-queue-item {
  width: 1em;
  height: 1em;
  margin: 0 1em 1em 0;
  float: left;
}

.color-input-container form {
  padding: 0 1em;
}

.about {
  margin-bottom: 2em;
}

.about .phone {
  color: #F5B800;
}

#color-input-text {
  border: transparent;
  background-color: #FBFBFB;
  width: 80%;
  padding: .25em .5em;
  margin-bottom: .5em;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
}

#color-input-submit {
  background-color: #FBFBFB;
  border: .1em solid #FFFFFF;
  margin-bottom: 1em;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
}

#color-input-submit:hover {
  color: #FFFFFF;
  background-color: #212125;
}

.color-chooser {
  width: 90%;
  height: 10em;
  overflow-y: scroll;
  border: .1em solid #FFFFFF;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
}

.color-chooser ul {
  list-style: none;
  margin: 1em;
  padding: 0;
}

.color-chooser .instructions {
  color: #676767;
}

.color-chooser .color-choice {
  cursor: pointer;
}

.color-chooser .color-name-container {
  display: inline-block;
  width: 40%;
  text-align: right;
}

.color-chooser .color-swatch-container {
  display: inline-block;
}

.color-chooser .color-swatch {
  height: .75em;
  width: .75em;
  margin-left: .15em;
  display: inline-block;
  -webkit-border-radius: 55%;
  -moz-border-radius: 55%;
  border-radius: 55%;
}


@media screen and (max-width: 720px) {
  body {
    font-size: 1.25em;
  }

  .app-container {
    width: 95%;
  }

  .status-indicator {
    position: relative;
    bottom: auto;
    right: auto;
    margin: 0;
    float: right;
  }

  .color-input-container textarea {
    height: 6.5em;
  }


  .color-chooser .color-name-container {
    display: inline-block;
    width: 75%;
    text-align: right;
    font-size: .85em;
  }
}
