<!DOCTYPE html>
<html>
  <head>
    <title>Lumière</title>
    <link rel="stylesheet" href="/bower_components/html5-boilerplate/css/normalize.css" />
    <link rel="stylesheet" href="/bower_components/html5-boilerplate/css/main.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="template-container"></div>

    <script data-main="/javascripts/app.js" src="/bower_components/requirejs/require.js"></script>
  </body>
</html>