body {
  background: #212125;
  color: #FBFBFB;
}

.status-indicator {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background-color: #565656;
  opacity: 0.75;
}

.disconnected .status-indicator {
  background-color: red;
}

.connected .status-indicator {
  background-color: green;
}

.color-input-container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 30%;
  font-size: 1.5em;
}

.color-input-wrapper {
  width: 30em;
  max-width: 100%;
  margin: 1em auto 0 auto;
}

.color-input-container textarea {
  display: block;
  border: transparent;
  background-color: #FBFBFB;
  opacity: 0.75;
  width: 96%;
  height: 100%;
  padding: 2%;
  margin-bottom: .5em;
}

#color-input-submit {
  border: transparent;
  background-color: #FBFBFB;
  opacity: 0.75;
}

.color-output-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 70%;
  font-size: 1.5em;
}

.color-output-wrapper {
  width: 30em;
  max-width: 100%;
  margin: 0 auto;
}

.color-queue {
  position: fixed;
  left: 0;
  top: 3em;
  padding: 1em 1em 0 1em;
  background-color: #565656;
  opacity: 0.75;
  border-top-right-radius: .25em;
  border-bottom-right-radius: .25em;
}

.color-queue-item {
  width: 1em;
  height: 1em;
  margin-bottom: 1em;
}

